# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
secrets.json

# Outputs
*.csv
*.docx
*.xlsx
*.json
*.txt

# Dir
data
else_file

# model
