# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
secrets.json

# Outputs
*.csv
*.docx
*.xlsx
*.json
*.txt

# Dir
reference
original_data
prepocessing_data
output_bertopic
output_lda
predict_model/dnn_report_dir
predict_model/rf_report_dir
predict_model/xgb_report_dir
predict_model/svm_report_dir

# model
